@{
    ViewBag.Title = "Home Page";
}

<!-- .container -->
<div class="container padding-bottom40">
    <div class="post-heading-left3">
        <h4><strong>Bài thi đọc</strong></h4>
    </div>

    <!-- .row -->
    <div class="row margin-bottom20">

        <div class="col-sm-3">
            <!-- 1 -->
            <figure class="affa-products-cat">
                <a href="/Home/ReadingVocabulary">
                    <img src="~/public/images/content/products/cats/1.jpg" alt="Thumbnail">
                    <div class="products-cat-overlay">
                        <div class="products-cat-txt">
                            <h4><small style="color: white;">Từ vựng<br /> ngữ pháp</small></h4>
                        </div>
                    </div>
                </a>
            </figure>
        </div>

        <div class="col-sm-3">
            <!-- 2 -->
            <figure class="affa-products-cat">
                <a href="/Home/ReadingBillboard">
                    <img src="~/public/images/content/products/cats/2.jpg" alt="Thumbnail">
                    <div class="products-cat-overlay">
                        <div class="products-cat-txt">
                            <h4><small style="color: white;">Đọc biển<br /> quảng cáo</small></h4>
                        </div>
                    </div>
                </a>
            </figure>
        </div>

        <div class="col-sm-3">
            <!-- 3 -->
            <figure class="affa-products-cat">
                <a href="/Home/ReadingUnderstanding">
                    <img src="~/public/images/content/products/cats/3.jpg" alt="Thumbnail">
                    <div class="products-cat-overlay">
                        <div class="products-cat-txt">
                            <h4><small style="color: white;">Đọc hiểu</small></h4>
                        </div>
                    </div>
                </a>
            </figure>
        </div>

        <div class="col-sm-3">
            <!-- 3 -->
            <figure class="affa-products-cat">
                <a href="/Home/ReadingFillingWords">
                    <img src="~/public/images/content/products/cats/3.jpg" alt="Thumbnail">
                    <div class="products-cat-overlay">
                        <div class="products-cat-txt">
                            <h4><small style="color: white;">Đọc điền từ</small></h4>
                        </div>
                    </div>
                </a>
            </figure>
        </div>

    </div>
    <!-- .row end -->

    <div class="post-heading-left3">
        <h4><strong>Bài thi viết</strong></h4>
    </div>

    <!-- .row -->
    <div class="row margin-bottom20">

        <div class="col-sm-3">
            <!-- 1 -->
            <figure class="affa-products-cat">
                <a href="/Home/WritingRewriteSentences">
                    <img src="~/public/images/content/products/cats/1.jpg" alt="Thumbnail">
                    <div class="products-cat-overlay">
                        <div class="products-cat-txt">
                            <h4><small style="color: white;">Viết lại câu</small></h4>
                        </div>
                    </div>
                </a>
            </figure>
        </div>

        <div class="col-sm-3">
            <!-- 2 -->
            <figure class="affa-products-cat">
                <a href="/Home/WritingLetter">
                    <img src="~/public/images/content/products/cats/2.jpg" alt="Thumbnail">
                    <div class="products-cat-overlay">
                        <div class="products-cat-txt">
                            <h4><small style="color: white;">Viết thư</small></h4>
                        </div>
                    </div>
                </a>
            </figure>
        </div>

        <div class="col-sm-3">
            <!-- 3 -->
            <figure class="affa-products-cat">
                <a href="/Home/WritingStory">
                    <img src="~/public/images/content/products/cats/3.jpg" alt="Thumbnail">
                    <div class="products-cat-overlay">
                        <div class="products-cat-txt">
                            <h4><small style="color: white;">Viết chuyện</small></h4>
                        </div>
                    </div>
                </a>
            </figure>
        </div>
    </div>
    <!-- .row end -->

    <div class="post-heading-left3">
        <h4><strong>Bài thi nói</strong></h4>
    </div>

    <!-- .row -->
    <div class="row margin-bottom20">

        <div class="col-sm-3">
            <!-- 1 -->
            <figure class="affa-products-cat">
                <a href="/Home/SpeakingInterview">
                    <img src="~/public/images/content/products/cats/1.jpg" alt="Thumbnail">
                    <div class="products-cat-overlay">
                        <div class="products-cat-txt">
                            <h4><small style="color: white;">Phỏng vấn</small></h4>
                        </div>
                    </div>
                </a>
            </figure>
        </div>

        <div class="col-sm-3">
            <!-- 2 -->
            <figure class="affa-products-cat">
                <a href="/Home/SpeakingInterview">
                    <img src="~/public/images/content/products/cats/2.jpg" alt="Thumbnail">
                    <div class="products-cat-overlay">
                        <div class="products-cat-txt">
                            <h4><small style="color: white;">Bốc thăm</small></h4>
                        </div>
                    </div>
                </a>
            </figure>
        </div>
    </div>
    <!-- .row end -->

    <div class="post-heading-left3">
        <h4><strong>Bài thi nghe</strong></h4>
    </div>

    <!-- .row -->
    <div class="row margin-bottom20">

        <div class="col-sm-3">
            <!-- 1 -->
            <figure class="affa-products-cat">
                <a href="/Home/ListeningPicture">
                    <img src="~/public/images/content/products/cats/1.jpg" alt="Thumbnail">
                    <div class="products-cat-overlay">
                        <div class="products-cat-txt">
                            <h4><small style="color: white;">Nghe tranh<br />hình ảnh đúng</small></h4>
                        </div>
                    </div>
                </a>
            </figure>
        </div>

        <div class="col-sm-3">
            <!-- 2 -->
            <figure class="affa-products-cat">
                <a href="/Home/ListeningMCQuestions">
                    <img src="~/public/images/content/products/cats/2.jpg" alt="Thumbnail">
                    <div class="products-cat-overlay">
                        <div class="products-cat-txt">
                            <h4><small style="color: white;">Nghe<br />trắc nghiệm</small></h4>
                        </div>
                    </div>
                </a>
            </figure>
        </div>

        <div class="col-sm-3">
            <!-- 3 -->
            <figure class="affa-products-cat">
                <a href="/Home/ListeningFillingWords">
                    <img src="~/public/images/content/products/cats/3.jpg" alt="Thumbnail">
                    <div class="products-cat-overlay">
                        <div class="products-cat-txt">
                            <h4><small style="color: white;">Nghe điền từ</small></h4>
                        </div>
                    </div>
                </a>
            </figure>
        </div>
    </div>
    <!-- .row end -->
    <!-- .container end -->
    <!-- .bg-grey -->
    <div class="bg-grey padding-top60 padding-bottom60">

        <!-- .container -->
        <div class="container">

            <div class="post-heading-center">
                <h4>Our Brands</h4>
                <p>Aenean ut euismod magna donec vel convallis sem fusce euismod purus scelerisque. Vivamus convallis dolor non vehicula fermentum ucras augue ipsum.</p>
            </div>

            <!-- .carousel-slider -->
            <div class="carousel-slider carousel-draggable carousel-clients row slick-initialized slick-slider">

                <div aria-live="polite" class="slick-list draggable">
                    <div class="slick-track" role="listbox" style="opacity: 1; width: 3888px; transform: translate3d(-1782px, 0px, 0px);">
                        <div class="col-sm-2 slick-slide slick-cloned" data-slick-index="-6" aria-hidden="true" tabindex="-1" style="width: 162px;">
                            <!-- 7 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/1.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" tabindex="-1" style="width: 162px;">
                            <!-- 8 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/2.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1" style="width: 162px;">
                            <!-- 9 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/3.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 162px;">
                            <!-- 10 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/4.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 162px;">
                            <!-- 11 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/5.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 162px;">
                            <!-- 12 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/6.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 162px;">
                            <!-- 1 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/1.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 162px;">
                            <!-- 2 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/2.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 162px;">
                            <!-- 3 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/3.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 162px;">
                            <!-- 4 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/4.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide04" style="width: 162px;">
                            <!-- 5 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/5.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-current slick-active" data-slick-index="5" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide05" style="width: 162px;">
                            <!-- 6 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/6.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-active" data-slick-index="6" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide06" style="width: 162px;">
                            <!-- 7 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/1.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-active" data-slick-index="7" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide07" style="width: 162px;">
                            <!-- 8 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/2.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-active" data-slick-index="8" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide08" style="width: 162px;">
                            <!-- 9 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/3.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-active" data-slick-index="9" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide09" style="width: 162px;">
                            <!-- 10 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/4.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-active" data-slick-index="10" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide010" style="width: 162px;">
                            <!-- 11 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/5.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide" data-slick-index="11" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide011" style="width: 162px;">
                            <!-- 12 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/6.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" tabindex="-1" style="width: 162px;">
                            <!-- 1 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/1.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" tabindex="-1" style="width: 162px;">
                            <!-- 2 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/2.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" tabindex="-1" style="width: 162px;">
                            <!-- 3 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/3.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" tabindex="-1" style="width: 162px;">
                            <!-- 4 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/4.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-cloned" data-slick-index="16" aria-hidden="true" tabindex="-1" style="width: 162px;">
                            <!-- 5 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/5.png" alt="Logo">
                            </div>
                        </div><div class="col-sm-2 slick-slide slick-cloned" data-slick-index="17" aria-hidden="true" tabindex="-1" style="width: 162px;">
                            <!-- 6 -->
                            <div class="affa-client-logo">
                                <img src="~/public/images/content/clients/6.png" alt="Logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .carousel-slider end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- .bg-grey end -->

</div>
