
@{
    ViewBag.Title = "ReadingFillingWords";
}

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>Đề thi</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">R1 - Test 1</a></li>
                <li><a href="#section2">R2 - Test 2</a></li>
                <li><a href="#section3">R3 - Test 3</a></li>
                <li><a href="#section3">R4 - Test 4</a></li>
                <li><a href="#section2">R5 - Test 5</a></li>
                <li><a href="#section3">R6 - Test 6</a></li>
                <li><a href="#section3">R7 - Test 7</a></li>
                <li><a href="#section2">R8 - Test 8</a></li>
                <li><a href="#section3">R9 - Test 9</a></li>
                <li><a href="#section3">R10 - Test 10</a></li>
            </ul>
        </div>

        <div class="col-sm-9">
            <h4><small>R1 - TEST 1</small></h4>
            <hr>
            <style>
                ul li {
                    list-style: none;
                    color: black;
                }

                    ul li label {
                        font-size: 16px;
                    }

                p {
                    color: black;
                    font-size: 18px;
                    font-weight: 300;
                }
            </style>

            <div style="font-size:24px">
                <div class="row">
                    <div class="col-xs-4 col-sm-3">of</div>
                    <div class="col-xs-4 col-sm-3">end</div>
                    <div class="col-xs-4 col-sm-3">make</div>
                    <div class="col-xs-4 col-sm-3">then</div>
                    <div class="col-xs-4 col-sm-3">share</div>
                    <div class="col-xs-4 col-sm-3">numbers</div>
                    <div class="col-xs-4 col-sm-3">every</div>
                    <div class="col-xs-4 col-sm-3">frightening</div>
                    <div class="col-xs-4 col-sm-3">mistake</div>
                    <div class="col-xs-4 col-sm-3">mix</div>
                    <div class="col-xs-4 col-sm-3">with</div>
                    <div class="col-xs-4 col-sm-3">amounts</div>
                    <div class="col-xs-4 col-sm-3">cause</div>
                    <div class="col-xs-4 col-sm-3">afterwards</div>
                    <div class="col-xs-4 col-sm-3">all</div>
                </div>
                <br />
                <p style="text-align: center;"><strong>CARTOON FILMS</strong></p>
                <p style="text-align: justify;">Cartoon films have very little limits. If you can draw something, you can (1) <input type="text" name="lname"> it move on the cinema screen. The use (2)<input type="text" name="lname"> new ideas and advanced computer programs means that cartoons are becoming exciting again for people of (3)<input type="text" name="lname"> ages.</p>
                <p style="text-align: justify;">By the (4)&nbsp;<input type="text" name="lname">&nbsp;of the 1970s, the cinema world had decided that cartoons were only for children. But soon (5)&nbsp;<input type="text" name="lname">&nbsp;one or two directors had some original new ideas. They proved that it was possible to make films in which both adults and children could (6)&nbsp;<input type="text" name="lname">&nbsp;the fun.</p>
                <p style="text-align: justify;">However, not (7)&nbsp;<input type="text" name="lname">&nbsp;cartoon film was successful. The Black Cauldron, for example, failed, mainly because it was too (8)<input type="text" name="lname">&nbsp;for children and too childish for adults. Directors learnt from this (9)&nbsp;<input type="text" name="lname">&nbsp;,and the film companies began to make large (10)&nbsp;<input type="text" name="lname">&nbsp;of money again.</p>
            </div>

            <div>
                <div style="background-color: aquamarine; border-radius: 5px; height: 40px; text-align: center">
                    <h4>Question 1</h4>
                </div>
                <div style="margin-top: 15px;">
                    <h5>1. Tom doesn't like dancing, but Mike ..........</h5>
                    <ul>
                        <li><label><input type="radio" name="q1" value="does" /> A. does</label></li>
                        <li><label><input type="radio" name="q1" value="did" /> B. did</label></li>
                        <li><label><input type="radio" name="q1" value="do" /> C. do</label></li>
                        <li><label><input type="radio" name="q1" value="doesn't" /> D. doesn't</label></li>
                    </ul>
                </div>
            </div>

            <div>
                <div style="background-color: aquamarine; border-radius: 5px; height: 40px; text-align: center">
                    <h4>Question 2</h4>
                </div>
                <div style="margin-top: 15px;">
                    <h5>2. Listen! Somebody .......... for help</h5>
                    <ul>
                        <li><label><input type="radio" name="q2" value="are screaming" /> A. are screaming</label></li>
                        <li><label><input type="radio" name="q2" value="scream" /> B. scream</label></li>
                        <li><label><input type="radio" name="q2" value="is screaming" /> C. is screaming</label></li>
                        <li><label><input type="radio" name="q2" value="has screamed" /> D. has screamed</label></li>
                    </ul>
                </div>
            </div>

            <div>
                <div style="background-color: aquamarine; border-radius: 5px; height: 40px; text-align: center">
                    <h4>Question 3</h4>
                </div>
                <div style="margin-top: 15px;">
                    <h5>3. Waiter! There .......... forks on this table</h5>
                    <ul>
                        <li><label><input type="radio" name="q3" value="are not some" /> A. are not some</label></li>
                        <li><label><input type="radio" name="q3" value="isn't any'" /> B. isn't any</label></li>
                        <li><label><input type="radio" name="q3" value="are not any" /> C. are not any</label></li>
                        <li><label><input type="radio" name="q3" value="are some" /> D. are some</label></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<footer class="container-fluid">
    <p>Footer Text</p>
</footer>