
@{
    ViewBag.Title = "SpeakingInteview";
}

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>Đề thi</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">Hometown or birthplace</a></li>
                <li><a href="#section2">Hobby or inclination</a></li>
                <li><a href="#section3">Traveling</a></li>
                <li><a href="#section3">Friends</a></li>
                <li><a href="#section2">Music</a></li>
                <li><a href="#section3">Transportation</a></li>
                <li><a href="#section3">Clothes</a></li>
                <li><a href="#section2">Communication</a></li>
                <li><a href="#section3">Reading</a></li>
                <li><a href="#section3">Work</a></li>
                <li><a href="#section3">Movies</a></li>
                <li><a href="#section3">School & Study</a></li>
                <li><a href="#section2">Restaurants</a></li>
                <li><a href="#section3">Family</a></li>
                <li><a href="#section3">Weather</a></li>
            </ul>
        </div>

        <div class="col-sm-9">
            <h4><small>HƯỚNG DẪN</small></h4>
            <hr>

            <h2><strong>Nội dung thi Nói tiếng Anh B1 phần 1: Phỏng vấn</strong></h2>
            <p>Thí sinh giới thiệu bản thân và giám khảo sẽ hỏi thí sinh một số câu hỏi liên quan đến chủ đề quen thuộc nhất như công việc, gia đình, sở thích, quê quán, thời tiết, mua sắm theo 14 chủ đề thi Nói tiếng Anh B1 được Bộ GD&amp;ĐT quy định.&nbsp;</p>
            <h2><strong>Cách làm bài thi Nói tiếng Anh B1 phần Phỏng vấn</strong></h2>
            <ul>
                <li>
                    <p>Nên xin phép được giới thiệu bản thân và giới thiệu ngắn gọn về tên, tuổi, nghề nghiệp, sở thích.</p>
                </li>
            </ul>
            <p style="padding-left: 60px;">May I introduce myself? (Em xin phép được giới thiệu bản thân được không ạ)</p>
            <p style="padding-left: 60px;">May I tell you something about myself ? (Em xin phép được nói một chút về bản thân được không ạ?)</p>
            <ul>
                <li>
                    <p>Thể hiện thái độ cởi mở, thân thiện khi nói.</p>
                </li>
                <li>
                    <p>Phát triển ý khi nói. Tránh việc chỉ trả lời&nbsp; ”Yes” hoặc&nbsp; ”No”.</p>
                </li>
            </ul>
            <h2><strong>Một số cách phát triển ý khi nói tiếng Anh B1</strong></h2>
            <p><span style="line-height: 1.42857;">- Đưa ra ví dụ</span></p>
            <p>What kinds of music do you like? – In my free time, I’m keen on listening to all kinds of music, for example, POP, rock, country and so on. Music makes me relaxed after hard-working days.</p>
            <p>- Giải thích lí do</p>
            <p>Do you like learning English?</p>
            <p>Yes, I do. I really like learning English <b>because </b>it helps me to get a better job. <b>Moreover</b>, I can watch movies in English or listen to English songs.</p>
            <p>- Miêu tả...</p>
            <p>Where do you live?</p>
            <p>I live in Ninh Binh province, which is about 100km far from Hanoi. You know, it is very well known for Bai Dinh Pagoda, Phat Diem Cathedral/ Church and Tam Coc Bich Dong and so on.</p>
            <ul>
                <li>
                    <p>Sử dụng các từ nối phù hợp, tránh liệt kê ý hàng loạt</p>
                </li>
            </ul>
            <p>Do you like travelling?</p>
            <p>Yes, I do. I love travelling <b>because</b> it helps me to broaden my knowledge. <b>Besides</b>, while travelling, I can meet new people and make new friends. <b>Finally,</b> travelling is a great way for me to relax after long working days. &nbsp;</p>

        </div>
    </div>
</div>

<footer class="container-fluid">
    <p>Footer Text</p>
</footer>