
@{
    ViewBag.Title = "WritingLetter";
}

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>Đề thi</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">W1 - Test 1</a></li>
                <li><a href="#section2">W2 - Test 2</a></li>
                <li><a href="#section3">W3 - Test 3</a></li>
                <li><a href="#section3">W4 - Test 4</a></li>
                <li><a href="#section2">W5 - Test 5</a></li>
                <li><a href="#section3">W6 - Test 6</a></li>
                <li><a href="#section3">W7 - Test 7</a></li>
                <li><a href="#section2">W8 - Test 8</a></li>
                <li><a href="#section3">W9 - Test 9</a></li>
                <li><a href="#section3">W10 - Test 10</a></li>
            </ul>
        </div>

        <div class="col-sm-9">
            <h4><small>HƯỚNG DẪN</small></h4>
            <hr>

            <p>Viết một bức thư ngắn khoảng 100 -120 từ cho một người bạn nước ngoài trả lời thông tin về một bộ phim yêu thích của bạn, một chương trình tivi, âm nhạc, món ăn, nhà hàng yêu thích... hoặc đưa ra lời khuyên... Nội dung chính của phần viết thư tương đối giống với các chủ đề trong phần nói phần 2 (trình bày theo chủ đề bốc thăm). Vì vậy, học viên có thể tham khảo phần nói này để vạch ra một số ý cho bài viết.&nbsp;</p>
            <h2><strong>Một số lưu ý khi làm bài viết thư tiếng Anh B1</strong></h2>
            <ul>
                <li>
                    <p>Đảm bảo trả lời tất cả các ý được hỏi. Trước khi bắt đầu viết, hãy đọc kỹ đề bài, ghi ra các câu hỏi và vạch ra các câu trả lời dưới dạng các cụm từ. Tránh viết câu hoàn chỉnh gây mất thời gian.</p>
                </li>
                <li>
                    <p>Sử dụng đa dạng từ vựng, cấu trúc ngữ pháp</p>
                </li>
                <li>
                    <p>Sử dụng các từ nối phù hợp, lưu ý dấu chấm câu và phân chia đoạn phù hợp.</p>
                </li>
                <li>
                    <p>Bài viết dưới dạng một bức thư, cần đảm bảo cấu trúc của một bài viết thư</p>
                </li>
                <li>
                    <p>Bài thi tiếng Anh B1 không cần viết địa chỉ của người viết, người nhận bên trong</p>
                </li>
            </ul>
            <h2><strong>Phương pháp làm bài viết thư tiếng Anh B1 hiệu quả</strong></h2>
            <p><img title="Hướng dẫn làm bài thi viết tiếng anh B1" alt="Hướng dẫn làm bài thi viết tiếng anh B1" src="/Data/Sites/1/viet/hương-dan-viet-1.png" height="550" width="519"></p>
            <p><strong>Hướng dẫn viết thư</strong></p>
            <p><strong>Greeting/ Salutation (Lời chào):</strong></p>
            <p>Dear Tom,&nbsp; hoặc Hi Tom,</p>
            <p><strong>Đoạn 1 (mở đầu)</strong></p>
            <p>Starting your letter (Bắt đầu bức thư): Bạn có thể sử dụng một trong số các cụm từ sau để bắt đầu bức thư.</p>
            <p style="margin-left: 18.0pt;">Thanks for your letter. (Cảm ơn bạn đã viết thư)</p>
            <p style="margin-left: 18.0pt;">Lovely to hear from you. (Rất vui khi nhận được tin tức từ bạn)</p>
            <p style="margin-left: 18.0pt;">How are you? &nbsp;(Bạn khỏe không?)</p>
            <p style="margin-left: 18.0pt;">How are things? (Mọi việc thế nào)</p>
            <p style="margin-left: 18.0pt;">Hope you're well. (Mình hi vọng bạn khỏe.)</p>
            <p>Và nhận xét về một thông tin trong bức thư mà người bạn viết cho bạn.</p>
            <p style="margin-left: 18.0pt;">I'm sorry to hear/learn ... Mình rất tiệc khi nghe được/ biết rằng...</p>
            <p style="margin-left: 18.0pt;">I'm so pleased to hear ... &nbsp;Mình rất vui khi biết rằng</p>
            <p style="margin-left: 18.0pt;">I’m so pleased to hear that&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; you are getting married next month</p>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;you have&nbsp; got a new job.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p style="margin-left: 18.0pt;">It's great to hear ... &nbsp;Thật vui khi biết rằng</p>
            <p style="margin-left: 18.0pt;">What wonderful news about ...</p>
            <p><strong>Đoạn 2:</strong> Viết vào nội dung chính, trả lời các câu hỏi trong đề bài. Sử dụng một số các cách chuyển câu như sau:</p>
            <p>Anyway, the reason I'm writing ...</p>
            <p>I thought I'd write to tell/ask you</p>
            <p>Anyway, I was wondering ...</p>
            <p><strong>Đoạn 3 (Kết thư):&nbsp;</strong>Sử dụng một trong số các cách sau</p>
            <p>Well, that's all for now.</p>
            <p>Write back soon.</p>
            <p>Looking forward to hearing from you again.</p>
            <p>All the best/ Best wishes/ See you soon/ Take care/ Yours/ Love/ Lots of love (Tất cả các từ/ cụm từ này đều có dấu phẩy (,) &nbsp;phía sau)</p>
            <p><strong>Mẫu đoạn mở đầu:</strong></p>
            <p>Thank you for your letter. I'm sorry I haven't written for so long but I've been really busy studing English to pass B1 test. It's great to hear that your all family are fine.<br><br><strong>Mẫu đoạn kết:&nbsp;</strong></p>
            <p>I have to get back to work now. I am looking forward to hearing from you soon.</p>

        </div>
    </div>
</div>

<footer class="container-fluid">
    <p>Footer Text</p>
</footer>