
@{
    ViewBag.Title = "Rewrite Sentences";
}
<script src="~/Scripts/js/react.production.min.js"></script>
<script src="~/Scripts/js/react-dom.production.min.js"></script>
<script src="~/Scripts/js/babel.min.js"></script>
<script src="~/Scripts/js/sweetalert.min.js"></script>

<style>
    ul li {
        list-style: none;
        color: black;
    }

        ul li label {
            font-size: 16px;
        }

    #app p {
        color: black;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    #app input {
        border: 1px solid black;
        height: 40px;
        color: black;
    }
    .question-title {
        background-color: lightblue;
        border-radius: 5px;
        height: 40px;
        text-align: center;
    }

    .ion {
        margin-left: 12px;
    }
</style>

<div class="container-fluid" id="app">
</div>
<br />
<script type="text/babel" src="~/Scripts/app/WRewriteSentences.jsx">
</script>