################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebThiB1Online/v15/Server/sqlite3
/.vs/WebThiB1Online/v15/Server/sqlite3/*.ide
/.vs/WebThiB1Online/v15/Server/sqlite3/*.ide-shm
/.vs/WebThiB1Online/v15/Server/sqlite3/*.ide-wal
