<!DOCTYPE html>
<html lang="en" class="responsejs">
<!--<![endif]-->
<head>

    <!-- Your Basic Site Informations -->
    <title>Unicom Responsive Multi Purpose Template</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Unicom is a multi-purpose site template that built-in professional fully responsive design, elegant style, smooth-animation and have a slew of features.">
    <meta name="keywords" content="Site Template, One Page Template, Responsive Template, Clean Design, Multi Purpose, Business Template, Corporate Template, App Template, Conversion Template, Smooth Animation, HTML5, CSS3, jQuery">
    <meta name="author" content="Affapress">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700%7CRoboto:100,300,300i,400,400i,500,700,900" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/public/css/ionicons.min.css">
    <link rel="stylesheet" href="~/public/css/jquery.scrollbar.css">
    <link rel="stylesheet" href="~/public/css/slick.css">
    <link rel="stylesheet" href="~/public/css/slick-theme.css">
    <link rel="stylesheet" href="~/public/css/jquery.fancybox.css">
    <link rel="stylesheet" href="~/public/css/animate.min.css">
    <link rel="stylesheet" href="~/public/css/style.css">

    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="~/public/css/colors/blue/color.css">-->
    <!--<link rel="stylesheet" href="~/public/css/colors/orange/color.css">-->
    <!--<link rel="stylesheet" href="~/public/css/colors/pink/color.css">-->
    <!--<link rel="stylesheet" href="~/public/css/colors/purple/color.css">-->
    <!--<link rel="stylesheet" href="~/public/css/colors/yellow/color.css">-->


    <script src="~/public/js/html5.js"></script>
    <script src="~/public/js/respond.min.js"></script>


    <!--[if lt IE 8]>
        <link rel="stylesheet" href="~/public/css/ie-older.css">
    <![endif]-->

    <noscript>&lt;link rel="stylesheet" href="~/public/css/no-js.css"&gt;</noscript>

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/public/images/favicon.ico">
    <link rel="apple-touch-icon" href="~/public/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/public/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/public/images/apple-touch-icon-114x114.png">

    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
    <style id="fit-vids-style">
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }

            .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>
</head>
<body class="body-header-transparent">
    <div class="parallax-mirror" style="visibility: hidden; z-index: -100; position: fixed; top: -2992px; left: 0px; overflow: hidden; transform: translate3d(0px, 0px, 0px); height: 432px; width: 1013px;"><img class="parallax-slider" src="~/public/images/content/bg/9.jpg" style="transform: translate3d(0px, 0px, 0px); position: absolute; top: 2325.6px; left: 0px; height: 569px; width: 1013px; max-width: none;"></div>

    <!-- #nav-mobile -->
    <nav id="nav-mobile">
        <div class="scroll-wrapper scrollbar-inner" style="position: relative;">
            <div class="scrollbar-inner scroll-content" style="height: 100px; margin-bottom: 0px; margin-right: 0px; max-height: none;">

                <button type="button" class="navbar-btn-close"><i class="ion ion-close"></i>Close</button>

                <div class="navbar-menu">
                    <ul class="nav">
                        <li class="menu-item menu-item-has-children">
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">Bài thi đọc</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="#">Từ vựng ngữ pháp</a></li>
                                        <li class="menu-item"><a href="#">Đọc biển quảng cáo</a></li>
                                        <li class="menu-item"><a href="#">Đọc hiểu</a></li>
                                        <li class="menu-item"><a href="#">Đọc từ điển</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Bài thi viết</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="#">Viết lại câu</a></li>
                                        <li class="menu-item"><a href="#">Viết thư</a></li>
                                        <li class="menu-item"><a href="#">Viết chuyện</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Bài thi nói</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="#">Phỏng vấn</a></li>
                                        <li class="menu-item"><a href="#">Bốc thăm</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Bài thi nghe</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="#">Nghe tranh hình ảnh đúng</a></li>
                                        <li class="menu-item"><a href="#">Nghe trắc nghiệm</a></li>
                                        <li class="menu-item"><a href="#">Nghe điền từ</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#">About</a><span>+</span>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#">Blog</a><span>+</span>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#">Account</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">Log in</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Sign in</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar"></div></div></div>
        </div>
    </nav>
    <!-- #nav-mobile end -->
    <!-- #body-wrap -->
    <div id="body-wrap">

        <!-- #header -->
        <header id="header" class="header-transparent">

            <!-- #nav-mobile-top -->
            <div id="nav-mobile-top">

                <!-- .container -->
                <div class="container-fluid">
                    <div class="navmenu">

                        <button type="button" class="navbar-btn-toggle"><i class="ion ion-navicon"></i></button>

                        <div class="navbar-logo">
                            <a href="index.html"><img src="~/public/images/logo.png" alt="Logo"></a> <!-- site logo -->
                        </div>

                        <div class="navbar-secondary">
                            <div class="navbar-btn">
                                <a href="cart.html" class="btn-cart"><i class="ion ion-bag"></i></a>
                                <a href="#" class="btn-search"><i class="ion ion-ios-search-strong"></i></a>
                            </div>
                            <form action="#" method="GET">
                                <input type="text" name="s" placeholder="To Search start typing...." autocomplete="off">
                                <button type="button" class="btn-close"><i class="ion ion-android-close"></i></button>
                            </form>
                            <div class="navbar-cart">
                                <div class="cart-heading">
                                    <p class="cart-count">2 item(s)</p>
                                    <p class="cart-price">$79.00</p>
                                </div>
                                <ul class="cart-list">
                                    <li>
                                        <a href="#" class="cart-btn-close">×</a>
                                        <img src="~/public/images/content/portfolios/square/1.jpg" alt="Thumbnail">
                                        <div class="cart-content">
                                            <p>1 x<span>$30</span></p>
                                            <a href="#">Black Leather Dress</a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="cart-btn-close">×</a>
                                        <img src="~/public/images/content/portfolios/square/2.jpg" alt="Thumbnail">
                                        <div class="cart-content">
                                            <p>1 x<span>$30</span></p>
                                            <a href="#">Black Leather Dress</a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="cart-footer">
                                    <a href="#" class="btn-custom btn-grey">View Cart</a>
                                    <a href="#" class="btn-custom">Checkout</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- .container end -->

            </div>
            <!-- #nav-mobile-top end -->
            <!-- #navigation -->
            <nav id="navigation" class="affix">

                <!-- .navbar -->
                <div class="navbar">

                    <!-- .container -->
                    <div class="container">
                        <div class="navbar-wrap">

                            <div class="navbar-logo">
                                <!-- site logo -->
                                <div class="navbar-logo-wrap">
                                    <a href="index.html">
                                        <img src="~/public/images/logo-white-big.png" alt="Logo" class="logo-primary">
                                        <img src="~/public/images/logo.png" alt="Logo" class="logo-secondary">
                                    </a>
                                </div>
                            </div>

                            <div class="navbar-menu">
                                <ul class="nav">
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Home</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Bài thi đọc</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Từ vựng ngữ pháp</a></li>
                                                    <li class="menu-item"><a href="#">Đọc biển quảng cáo</a></li>
                                                    <li class="menu-item"><a href="#">Đọc hiểu</a></li>
                                                    <li class="menu-item"><a href="#">Đọc từ điển</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Bài thi viết</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Viết lại câu</a></li>
                                                    <li class="menu-item"><a href="#">Viết thư</a></li>
                                                    <li class="menu-item"><a href="#">Viết chuyện</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Bài thi nói</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Phỏng vấn</a></li>
                                                    <li class="menu-item"><a href="#">Bốc thăm</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Bài thi nghe</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Nghe tranh hình ảnh đúng</a></li>
                                                    <li class="menu-item"><a href="#">Nghe trắc nghiệm</a></li>
                                                    <li class="menu-item"><a href="#">Nghe điền từ</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">About</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Blog</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Account</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="#">Log in</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">Sign in</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <div class="navbar-secondary">
                                    <div class="navbar-btn">
                                        <a href="#" class="btn-search"><i class="ion ion-ios-search-strong"></i></a>
                                    </div>
                                    <form action="#" method="GET">
                                        <input type="text" name="s" placeholder="To Search start typing...." autocomplete="off">
                                        <button type="button" class="btn-close"><i class="ion ion-android-close"></i></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- .container end -->

                </div>
                <!-- .navbar end -->

            </nav>
            <!-- #navigation end -->
            <!-- .sub-header2 -->
            <div class="sub-header2 text-white" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" style="background-image: url(/public/images/content/bg/3.jpg)">
                <div class="sub-header-overlay bg-dark-overlay40">

                    <div class="container">
                        <h1 class="header-title">B1 ONLINE TEST</h1>
                    </div>

                </div>
            </div>
            <!-- .sub-header2 end -->

        </header>
        <!-- #header end -->
        <!-- #content -->
        <div id="content" class="archive-product bg-white padding-bottom0">

            <!-- .container -->
            @RenderBody()
            <!-- #content end -->
            <!-- #bottom -->
            <div id="bottom">

                <!-- .container -->
                <div class="container">

                    <!-- .footer-widgets -->
                    <div class="footer-widgets">

                        <!-- .row -->
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="widget">
                                    <div class="widget_text">
                                        <h4 class="widget-title">About Unicom</h4>
                                        <p>Morbi scelerisque, eros vel posuere consequat, quam nibh blandit, condimentum ligula purus.</p>
                                        <p>Vivamus tortor justo, tincidunt ac odio sed, egestas euismod velit. Maecenas cursus pulvinar iaculis sed risus nunc, cursus non tellus rhoncus felis.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="widget">
                                    <div class="affa-subscribe-widget">
                                        <h4 class="widget-title">Newsletter</h4>
                                        <p>Enter your email and we will send you a coupon with 10% off your next order.</p>
                                        <form method="post" action="#" class="affa-form-subscribe">
                                            <input type="text" name="email" placeholder="Email address">
                                            <input type="submit" name="submit" value="Send">
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="widget">
                                    <div class="widget_text">
                                        <h4 class="widget-title">Contact Info</h4>
                                        <div class="list-icon">
                                            <ul>
                                                <li><i class="ion ion-ios-telephone"></i>(081) 254 5678</li>
                                                <li><i class="ion ion-ios-email"></i><a href="#">support@affapress.com</a></li>
                                                <li><i class="ion ion-map"></i>256/15 Second Street United States</li>
                                                <li><i class="ion ion-android-phone-portrait"></i>(081) 254 5678</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- .row end -->

                    </div>
                    <!-- .footer-widgets end -->

                </div>
                <!-- .container end -->

            </div>
            <!-- #bottom end -->
            <!-- #footer -->
            <footer id="footer">

                <!-- .container -->
                <div class="container">

                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                        <p>Unicom - All rights reserved © 2017 by <a href="/Home/Index" target="_blank">Affapress</a></p>
                    </div>

                    <div class="footer-socials">
                        <ul>
                            <li><a href="#" title="Facebook"><i class="ion ion-social-facebook"></i></a></li>
                            <li><a href="#" title="Twitter"><i class="ion ion-social-twitter"></i></a></li>
                            <li><a href="#" title="Google Plus"><i class="ion ion-social-googleplus"></i></a></li>
                            <li><a href="#" title="Pinterest"><i class="ion ion-social-pinterest"></i></a></li>
                            <li><a href="#" title="Instagram"><i class="ion ion-social-instagram"></i></a></li>
                            <li><a href="#" title="Dribbble"><i class="ion ion-social-dribbble"></i></a></li>
                        </ul>
                    </div>

                </div>
                <!-- .container end -->

            </footer>
            <!-- #footer end -->

        </div>
        <!-- #body-wrap end -->

        <a href="#" class="scrollup visible" title="Back to Top!"><i class="ion ion-android-arrow-up"></i></a> <!-- Back to Top -->
        <!-- #customize -->
        <div id="customize" class="affix">

            <!-- .scrollbar-inner -->
            <div class="scroll-wrapper scrollbar-inner" style="position: relative;">
                <div class="scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 662px;">
                    <div class="customize-wrap">

                        <div class="customize-btn">
                            <a href="#" class="btn-custom">Buy Now!</a>
                        </div>

                        <h5>Color Options</h5>
                        <div class="customize-color">
                            <a href="#" class="blue" title="Blue">blue</a>
                            <a href="#" class="green" title="Green">green</a>
                            <a href="#" class="orange" title="Orange">orange</a>
                            <a href="#" class="pink" title="Pink">pink</a>
                            <a href="#" class="purple" title="Purple">purple</a>
                            <a href="#" class="yellow" title="Yellow">yellow</a>
                        </div>

                        <h5>Homepages</h5>
                        <div class="customize-row">
                            <a href="index.html" title="Default Business">
                                <figure><img src="~/public/images/content/demos/thumb/1.jpg" alt="Default Business"></figure>
                            </a>
                            <a href="index-2.html" title="Business 2">
                                <figure><img src="~/public/images/content/demos/thumb/2.jpg" alt="Business 2"></figure>
                            </a>
                            <a href="index-3.html" title="Business 3">
                                <figure><img src="~/public/images/content/demos/thumb/3.jpg" alt="Business 3"></figure>
                            </a>
                            <a href="index-4.html" title="Business 4">
                                <figure><img src="~/public/images/content/demos/thumb/4.jpg" alt="Business 4"></figure>
                            </a>
                            <a href="index-5.html" title="Business 5">
                                <figure><img src="~/public/images/content/demos/thumb/5.jpg" alt="Business 5"></figure>
                            </a>
                            <a href="index-6.html" title="Business 6">
                                <figure><img src="~/public/images/content/demos/thumb/6.jpg" alt="Business 6"></figure>
                            </a>
                            <a href="index-app.html" title="App Showcase">
                                <figure><img src="~/public/images/content/demos/thumb/7.jpg" alt="App Showcase"></figure>
                            </a>
                            <a href="index-blog.html" title="Blog">
                                <figure><img src="~/public/images/content/demos/thumb/8.jpg" alt="Blog"></figure>
                            </a>
                            <a href="index-construction.html" title="Construction">
                                <figure><img src="~/public/images/content/demos/thumb/9.jpg" alt="Construction"></figure>
                            </a>
                            <a href="index-education.html" title="Education">
                                <figure><img src="~/public/images/content/demos/thumb/10.jpg" alt="Education"></figure>
                            </a>
                            <a href="index-minimalist.html" title="Minimalist">
                                <figure><img src="~/public/images/content/demos/thumb/11.jpg" alt="Minimalist"></figure>
                            </a>
                            <a href="index-portfolio.html" title="Portfolio">
                                <figure><img src="~/public/images/content/demos/thumb/12.jpg" alt="Portfolio"></figure>
                            </a>
                            <a href="index-product.html" title="Product Showcase">
                                <figure><img src="~/public/images/content/demos/thumb/13.jpg" alt="Product Showcase"></figure>
                            </a>
                            <a href="index-shop.html" title="Shop">
                                <figure><img src="~/public/images/content/demos/thumb/14.jpg" alt="Shop"></figure>
                            </a>
                            <a href="index-startup.html" title="Startup">
                                <figure><img src="~/public/images/content/demos/thumb/15.jpg" alt="Startup"></figure>
                            </a>
                            <a href="index-startup-2.html" title="Startup 2">
                                <figure><img src="~/public/images/content/demos/thumb/16.jpg" alt="Startup 2"></figure>
                            </a>
                        </div>

                    </div>
                </div><div class="scroll-element scroll-x scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 88px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 401px; top: 0px;"></div></div></div>
            </div>
            <!-- .scrollbar-inner end -->
        </div>
    </div>
    <!-- #customize end -->
    <!-- JavaScripts -->
    <script type="text/javascript" src="~/public/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="~/public/js/jquery-migrate-1.4.1.min.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.plugin.min.js"></script>
    <script type="text/javascript" src="~/public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/public/js/response.min.js"></script>
    <script type="text/javascript" src="~/public/js/waypoints.min.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.scroll-with-ease.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="~/public/js/parallax.min.js"></script>
    <script type="text/javascript" src="~/public/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/public/js/slick.min.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="~/public/js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/public/js/script.js"></script>
    <!-- Localized --><div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"><div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div></div>
</body>
</html>